body{
    font-family: 'Nunito', sans-serif;
}
.divCover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCover img{
    width: 70%;
}
a{
    text-decoration: none !important;
}
#userFullNameError, #userQualificationError, #userLocationError, #userEmailError, #userPasswordError, #userSIEmailError, #userSIPasswordError, #userBioError, #editProfileForm{
    display: none;
}

#userAvatar{
    width: 120px;
    height: 120px;
}


.form-file-upload {
    position: absolute;
    display: flex;
    margin-left: 30%;
    margin-top: -20%;
}

@media (min-width: 450px) {
    .form-file-upload {
        width: 31.3333%;
    }
}

@media (min-width: 750px) {
    .form-file-upload {
        width: 22.75%;
    }
}

@media (min-width: 1600px) {
    .form-file-upload {
        width: 14.1666667%;
        margin-right: 2%;
    }
}

.form-file-upload:nth-child(2n) {
    margin-right: 0;
}

@media (min-width: 450px) {
    .form-file-upload:nth-child(2n) {
        margin-right: 3%;
    }
}

@media (min-width: 1600px) {
    .form-file-upload:nth-child(2n) {
        margin-right: 2%;
    }
}

@media (min-width: 450px) {
    .form-file-upload:nth-child(3n) {
        margin-right: 0;
    }
}

@media (min-width: 750px) {
    .form-file-upload:nth-child(3n) {
        margin-right: 3%
    }
}

@media (min-width: 1600px) {
    .form-file-upload:nth-child(3n) {
        margin-right: 2%
    }
}

@media (min-width: 750px) {
    .form-file-upload:nth-child(4n) {
        margin-right: 0
    }
}

@media (min-width: 1600px) {
    .form-file-upload:nth-child(4n) {
        margin-right: 2%
    }
}

@media (min-width: 1600px) {
    .form-file-upload:nth-child(6n) {
        margin-right: 0
    }
}

.form-file-upload-inner {
    width: 100%;
    height: 0;
    padding-top: 133.33333%;
    border-radius: 50%;
    align-self: center;
}

.form-file-upload label {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    border: 1px solid #AFAFB4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #AFAFB4;
    -webkit-transition: background 0.2s ease, border 0.2s ease;
    -moz-transition: background 0.2s ease, border 0.2s ease;
    -o-transition: background 0.2s ease, border 0.2s ease;
    transition: background 0.2s ease, border 0.2s ease
}

.form-file-upload span {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-file-upload span:before {
    content: '';
    background-size: 65px 56px;
    display: block;
    width: 65px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.form-file-upload input {
    position: relative;
    opacity: 0;
    z-index: 1;
    width: 100%;

}

.form-file-upload .close {
    display: none;
    position: absolute;
    top: -13px;
    right: -13px;
    width: 26px;
    height: 26px;
    font-size: 18px;
    text-align: center;
    line-height: 26px;
    background: white;
    z-index: 3;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    -moz-transition: background 0.2s ease, color 0.2s ease;
    -o-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease
}

.profiledp img
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: transparent;
}